@media (max-width: 768px) {
    .align-right-mobile {
        text-align: right;
    }
}
@media (max-width: 768px) {
    .form-mobile {
        width: 90%;
        margin: 0 auto; 
    }
}
@media (max-width: 768px) {
    .mobile-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
}
