@media (max-width: 768px) {
    a.nolink.align-right-mobile {
        text-align: right;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .form-mobile {
        width: 90%;
        margin: 0 auto; 
    }
}
@media (max-width: 768px) {
    .mobile-margin {
        margin-left: 5px;
        margin-right: 5px;
    }
}
