$font-stack: "Poppins", sans-serif;
$font-weight-bold: 600;
$font-weight-normal: 500;
$font-size-h2: 35px;
$font-size-h3: 25px;
$font-size-h4: 20px;
$font-size-p: 20px;
$primary-color: #C39898;
$background-color: black;
$button-color: #86c494;
$footer-color: #F5DAD2;